<% include ../partials/header %>

 <div class="container">
 <header class= "jumbotron"> 
  <div class="container">
   <h1 id="welcome">Welcome To The Chocolate Cookbook!</h1>
    <p id="intro"> View our hand-picked recipes form all over the world.</p>
    <p><button class="btncss"><a href="/campgrounds/new"> Add New Recipe</a></button>  </p>
  </div>
 </header>
 

 <div class="row text-center" style="display:flex; flex-wrap:wrap">
   <% campgrounds.forEach(function(campground){ %>
    <div class="col-md-3 col-sm-6 thumbnailsize"> 
      <div class="thumbnail">
       <img src="<%= campground.image %>">
       <div class="caption"> 
             <h4><%=campground.name %></h4> 
       </div>
       <p> 
        <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary"> View</a>
       </p>
       
      </div>
    </div>
    <% }); %>
 </div>
 
</div>


<% include ../partials/footer %>