body {
  background-color: #000;
}

#landing-header{
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
    margin-top: 80px;
    opacity: 0;
    animation: 2s slidein 1s forwards;
    
}
.btncss{
  outline: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display:block;
  background-color: #fcad26;
  padding: 15px 60px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 6px #EFA424; 
  
}

.btncss a{
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.btncss:hover{
  box-shadow: 0 4px #EFA424;
  position: relative;
  top: 2px;
}

.btncss:active{
  box-shadow: none;
  position:relative;
  top:6px;
}

#landing-header h1{
    color: #fff;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px rgb(35, 1, 0);
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 25px;
    
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1523035274455-b2e5c6d5c2e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1542733083-dc82892e0427?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1906&q=80);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1511856332-b99fe3fa3b00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1901&q=80);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1536614984430-64652c3ad956?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1448131063153-f1e240f98a72?ixlib=rb-1.2.1&auto=format&fit=crop&w=1924&q=80);
  animation-delay: 40s; 
}

@keyframes slidein{
  100%{
    opacity: 1;
    margin-top:0;
  }
}


@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
